<h1>{{title}}</h1>
<form id="formsote" action="/insumos" method="post">
  <p>
    Descripción
    <input type="text" name="descripcion">
  </p>
  <p>
    Unidad
    <input type="text" name="unidad">
  </p>
  <p>
    Cantidad
    <input type="number" min="1", max="999", name="cantidad">
  </p>
  <p>
    Cantidad Minima
    <input type="number" min="1", max="999", name="cantMin">
  </p>
  <p>
    <button name="japiro" type="submit">Enviar</button>
  </p>

</form>
