//- los mixin son como 'funciones'
mixin item (url, title)
  li
    a(href=url) title

menu
  //- para ejecutar un mixin se usa el prefijo '+'
  +item('/asegurados', 'Asegurados')
  +item('#', 'Medicos')
  +item('#', 'Insumos')
