// Esto es el menu principal de la aplicacion

//- los mixin son como 'funciones'
mixin item (url, title, clase)
  li(class=clase)
    a(href=url)= title

menu.nav.nav-pills
  +item('/', 'Inicio', 'active')
  //- para ejecutar un mixin se usa el prefijo '+'
  +item('/asegurados', 'Asegurados')
  +item('#', 'Medicos')
  //- la almoadilla # se debe cambiar por la url deseada
  +item('#', 'Insumos')
