// la variable 'active' se define dentro del layout de cada modulo, al ejecutar +menuPrincipal
// active es la url que debe tener la clase '.active'

+itemMenu(active, '/', 'Inicio')
//- para ejecutar un mixin se usa el prefijo '+'
+itemMenu(active, '/asegurados', 'Asegurados')
+itemMenu(active, '/medicos', 'Medicos')
//- la almoadilla # se debe cambiar por la url deseada
+itemMenu(active, '/insumos', 'Insumos')
