include ./mixins/botones


doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- ----------------------------------------------------
    //- Styles
    //- ----------------------------------------------------

    //- Bootstrap
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')

    //- Personalizado
    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    .container
      include ./elements/menu

      //- el block content es reemplazado por el valor devuelto al renderizar la vista

      block content-module

      include ./footer



    //- ----------------------------------------------------
    //- Scripts
    //- ----------------------------------------------------

    //- jQuery 2.1.1
    script(src='/javascripts/jquery-2.1.1.min.js')

    //- Bootstrap Scripts
    script(src='/bootstrap/js/bootstrap.min.js')

    //- Personalizado
    script(src='/javascripts/script.js')
