doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- Bootstrap
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')

    script(src='/javascripts/script.js')

    //- jQuery 2.1.1
    script(src='/javascripts/jquery-2.1.1.min.js')

    //- Bootstrap Scripts
     script(src='/bootstrap/js/bootstrap.min.js')

  body
    include ./elements/menu.jade

    block content
