mixin linkButton (url, title, clase)
  a(href=url, class=clase).btn.btn-default
      = title



//- los mixin son como 'funciones'
mixin itemMenu (active, url, title)
  if (url == active)
    - var clase = 'active'
  li(class=clase)
    a(href=url)= title


mixin menuPrincipal (active)
  menu.nav.nav-pills
    include ../elements/menu
