mixin linkButton (url, title, clase)
  a(href=url, class=clase).btn.btn-default
      = title



//- los mixin son como 'funciones'
mixin itemMenu (url, title, active)
  if (url == active)
    - var clase = 'active'
  li(class=clase)
    a(href=url)= title


mixin menuPrincipal (active)
  menu.nav.nav-pills
    +itemMenu('/', 'Inicio', active)
    //- para ejecutar un mixin se usa el prefijo '+'
    +itemMenu('/asegurados', 'Asegurados', active)
    +itemMenu('/medicos', 'Medicos', active)
    //- la almoadilla # se debe cambiar por la url deseada
    +itemMenu('/insumos', 'Insumos', active)
