table.table
  each asegurado in asegurados
    tr
      td #{asegurado.nombres} #{asegurado.apellidos}
      td #{asegurado.ci}
      td.btn-group.btn-group-xs
        +actionButtons(asegurado._id, ['ver', 'edit', 'delete'])
