extends layout
block actions
  +linkButton('/asegurados/', 'lista')

block content
  h1= title

  form(method="POST", action="/asegurados", role='form').form-horizontal
    div.form-group
      label(for='nombres', class='col-lg-2 control-label' ) Nombre
      div.col-lg-10
        input(type="text", id="nombres", placeholder='Ingrese nombres').form-control
    div.form-group
      label(for='apellidos', class='col-lg-2 control-label' ) Apellido
      div.col-lg-10
        input(type="text", id="apellidos", placeholder='Ingrese apellidos').form-control
    div.form-group
      label(for='ci', class='col-lg-2 control-label' ) Cedula
      div.col-lg-10
        input(type="text", id="ci", placeholder='Ingrese numero de Cedula de Indentidad').form-control
    div.form-group
      label(for='nacimiento', class='col-lg-2 control-label' ) Fecha de Nacimiento
      div.col-lg-10
        input(type="date", id="nacimiento").form-control
    div.form-group
      label(for='direccion', class='col-lg-2 control-label' ) Direccion
      div.col-lg-10
        input(type="text", id="direccion", placeholder='Ingrese direccion').form-control
    div.form-group
      label(for='telefonos', class='col-lg-2 control-label' ) Telefonos
      div.col-lg-10
        input(type="text", id="telefonos", placeholder="ingrese Nº telefonos separados por coma. ej: '234654, 653764'").form-control
    div.form-group
      div(class='col-lg-offset-2 col-lg-10')
        button(type='submit', class='btn btn-default') Enviar
