extends ../layout

block content
  h1= title

  ul
    each insumo in insumos
      li #{insumo.descripcion}
        .actions
          a(href='/insumos/'+insumo._id) ver
          a(href='/insumos/'+insumo._id+'/edit') editar
          a(href='/insumos/'+insumo._id+'/delete') borrar

  a(href='/insumos/new') nuevo
