extends ./layout-modulo.jade

block content
  h1= title

  ul
    each asegurado in asegurados
      li #{asegurado.nombres} #{asegurado.apellidos} | ci: #{asegurado.ci}
        .actions
          a(href='/asegurado/'+asegurado._id) ver
          a(href='/asegurado/'+asegurado._id+'/edit') editar
          a(href='/asegurado/'+asegurado._id+'/delete') borrar
